.error-page{
    height:500px;
}

.titulo-error{
    display: flex;
    justify-content:center;
    margin-top:100px ;
    color:orangered;
    font-size:150px;
}


.subtitulo-error{
    display: flex;
    justify-content:center;
    margin-top:30px;
    font-size:50px;

}

.frase-error{
    display: flex;
    justify-content:center;
    margin-top:30px;
    font-size:30px;
}