@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

body{
    background-image: linear-gradient(45deg, #4F4F4F, #363636);
	font-family: montserrat;

}

div.login-card{
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    color: #fff;
    max-width: 100%;
}

input.login-input{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    max-width: 100%;
    border-radius: 10px;
    box-sizing: border-box;

}

button.login-btn{
    background: orangered;
    border: none;
    padding: 15px;
    border-radius: 10px;
    color: white;
    font-size: 15px;
}

button:hover{
    background-color: deepskyblue;
    cursor: pointer;
}

.material-icons{
    width: 30px;
    height: 30px;
    padding-left: 95px;
    display: flex;
    justify-content: center;
}