<!DOCTYPE html>

<html lang="pt-BR">
    <%- include('./partials/header') %>
<head>
	<meta charset="utf-8">
	<title>Carrinho</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/estilo.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/carrinho.css">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
</head>
<body>
    <div class="">
        <section id="carrinho-container" class="row">
            <div id="carrinho" class="">
                    <div class='produto'></div>
            </div>
            
                <%- include('partials/carrinho') %>
                <script src='/js/exibirCarrinho.js'></script>
        </section>
    </div>
    <div class="container mb-5">
        <div class="row">
            <div class="mx-auto mt-3">
                <button id="buyButton" class="btn btn-lg btn-success">Finalizar compra</button>
            </div>
        </div>
    </div>
</body>

<script>
var buyButton = document.getElementById("buyButton");    
buyButton.onclick = function () {  
    var carrinho = localStorage.getItem('carrinho')  ? JSON.parse(localStorage.getItem('carrinho')) : [];   

    fetch("/api/carrinho/comprar", {           
        method: "POST",
        headers: { 'Content-Type': 'application/json' },            
        body: JSON.stringify({                
            carrinho            
        })        
    })
    .then( async response => {     
        console.log('primeiro then ',  response)       
        
        return {status: response.status, resp: await response.json()}
    })
    .then( res => {
        console.log('resultado = ' , res)

        if (res.status == 401) {
            window.location = '/users/login?code=1'
        }
    })
    .catch(error => {            
        console.log('Ocorreu um fora:' , {error})        
    })    
}

</script>