<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finalização</title>
    <link rel="stylesheet" href="css/finalizacao.css">
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/footer.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<%- include('./partials/header') %>

<body>
    <div class="centro">
        <h1>Compra realizada com Sucesso!</h1>
        <i class="material-icons">check_circle</i>
        <h2>
            <p>Número do pedido</p>
        </h2>
        <h2>
            <p>"9031500892434126"</p>
        </h2>
        <br>
        <br>
        <h2>Confirmação de pedido enviado para:</h2>
        <h2>robsonoliveira@gmail.com</h2>
        <br>
        <br>
        <button class="click btn-1">
            <a>Ver detalhes da conta</a>
        </button>

    </div>
</body>
<%- include('./partials/footer') %>    

</html>