<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/estilo.css">
    <link rel="stylesheet" href="/css/animation.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/create-product.css">
    <link rel="stylesheet" href="/css/footer.css">
	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
    
</head>
<body>
    <div class="header">
        <nav class="header">
            <input type="checkbox" id="check">
            <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
            </label>
            <label class="logo">Mercado DH</label>
            <ul>
                <li><a class="active" href="/">Início</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#"><img class="img" src="/img/cabecalho-img/login4-.jpg"></a></li>
                <li><a href="/carrinho"><img class="img1" src="/img/cabecalho-img/carrinho.vetor.jpg"></a></li>
            </ul>
        </nav>
    </div>

<main>
    <h2 class="success-alert"><%= message %></h2>
  </main>