*{margin:0; padding: 0; box-sizing: border-box;}


.titulo{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    color: orangered;
}

.l1{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    margin-top:20px;
    border:orangered;
    
}

.list{
    display:flex;
    justify-content:center;
    margin-top:20px;
    color:orangered;
}

.cadastro{
    margin: auto;
    border:1px solid gray;
    border-radius: 5px;
    width:40%;
    height:550px;
    margin-top:50px;
    
}

.campo{
    height:50px;
    width:95%;
    margin-left:10px ;
    display: flex;
    align-items: center;
    border: none;
    background-color: rgba(186, 177, 177, 0.956);
}

.bt-cadastro{
    cursor:pointer;
    margin-top:30px;
    font-size: 20px;
    margin-left:10px;
    width:40%;
    height:40px;
    color:white;
    background-color: orangered;
    border:none;
}