<footer class="rodape">
<section class="rodape-conteudo">
<section class="links">
<div class="conteudo-link">
<h2 class="titulo-link">Institucional</h2>
<a class="link-rodape" href="#">Quem somos</a><br>
<a class="link-rodape" href="#">Lojas Físicas</a><br>
<a class="link-rodape" href="#">Trabalhe Conosco</a><br>
<a class="link-rodape" href="#">Central de Atendimento</a><br>
</div>
</section>
<section class="links">
<h2 class="titulo-link">Serviços</h2>
<a class="link-rodape" href="#">Termos de Uso</a><br>
<a class="link-rodape" href="#">Formas de Pagamento</a><br>
<a class="link-rodape" href="#">Política de Venda</a><br>
<a class="link-rodape" href="#">Dúvidas Frequentes</a><br>
</section>
<section class="links">
<h2 class="titulo-link">Minhas Páginas </h2>
<a class="link-rodape" href="#">Compra Segura</a><br>
<a class="link-rodape" href="#">Entrega</a><br>
<a class="link-rodape" href="#">Meus Pedidos</a><br>
<a class="link-rodape" href="#">Minhas Listas</a><br>
<a class="link-rodape" href="#">Meus Cadastro </a><br>
</section>
<section class="cartoes">
<h2 class="titulo-pagamento">Formas de Pagamento</h2>
<img class="cartao-pagamento" src="../../../img/cartoes/elo-icon-cartao.png">
<img class="cartao-pagamento" src="../../../img/cartoes/forma de pagamento - icon1-mastercard.png">
<img class="cartao-pagamento" src="../../../img/cartoes/forma de pagamento - icon2-visa.png">
<img class="cartao-pagamento" src="../../../img/cartoes/forma de pagamento - icon4-diners club.png">
<img class="cartao-pagamento" src="../../../img/cartoes/forma de pagamento - icon5-hipercard.png">
<img class="cartao-pagamento" src="../../../img/cartoes/forma de pagamento - icon6-alelo.png">
</section>
</footer>
