<header>
    <nav class="nav-header">
		<input type="checkbox" id="check">
		<label for="check" class="checkbtn">
		<i class="fas fa-bars"></i>
		</label>
		<a href="/" ><label class="logo">Mercado DH</label></a>
		<ul class="header-link">
			<li><a class="active" href="/">Início</a></li>
			<li><a class="link-header" href="#">Sobre</a></li>
			<li><a class="link-header" href="/produtos">Produtos</a></li>
			<li><a class="link-header" href="/users/login"><img class="img" src="/img/cabecalho-img/login4-.jpg"></a></li>
			<li><a class="link-header" href="/carrinho"><img class="img1" src="/img/cabecalho-img/carrinho.vetor.jpg"></a></li>
		</ul>
	</nav>
</header>
 
