<div class="container-fluid">
    <div class="text-center"> 
        <img  width="300" height="500" class="mx-2"  src="/img/ofertas/ofertas-img.jpg">
        <img  width="300" height="500" class="mx-2"   src="/img/ofertas/ofertas-img2.jpg">
        <img  width="300" height="500" class="mx-2"  src="/img/ofertas/ofertas-todynho.jpg">
        <img  width="300" height="500" class="mx-2"  src="/img/ofertas/ofertas nescafé.jpg">
    </div>
</div>
