<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela de Login</title>
    <link rel="stylesheet" href="/css/login.css">
	<link rel="stylesheet" href="/css/header.css">
	<link rel="stylesheet" href="/css/estilo.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/class.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


</head>
<body>
	<%- include('../partials/header'); %>

	<% if(!(typeof message == 'undefined')){ %>
		<div class="alert alert-<%= type %>" role="alert">
			<%= message %>
		</div>
	 <% } %>
	
	<div class="container">
		<div class="login-card text-center py-3 mt-4 mb-4">
			<!-- <label class="logo">Mercado DH</label> -->
			<form method="POST" action="/users/login">
				<h1>Login</h1>
				<div class="p-1">
					<input class="login-input" type="text" placeholder="E-mail" name="user_email" required>
				</div>
				<div class="p-1">
					<input class="login-input" type="password" placeholder="Senha" name="user_password" required>
				</div>
				<button class="login-btn mt-1" type="submit">Entrar</button>

				<div>
					<p class="text-white">Não está cadastrado? <a href="/users/cadastrar">Cadastre-se aqui</a></p>
				</div>
			</form>
			
		</div>
	</div>
    


	<%- include('../partials/footer'); %>

</body>
</html>